form{
    display: flex;
    margin-bottom: 10px; 
}
#descricao,#valor{
    margin-left: 10px;
    margin-right: 5px;
}
label{
    margin-top: 7px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #000;
}
th, td {
    padding: 8px;
    text-align: left;
}
.positive {
    color: green;
}

.negative {
    color: red;
}
